/* Class for H1 */

@media screen and (min-width: 600px) {
	:root {
		display: flex;
		justify-content: center;
	}
}

:root {
	font-size: 16px;
	width: 100%;
	height: 100%;
	--bodyMargin: 24px;
	--minusBodyMargin: -24px;
}

strong {
	font-family: HelveticaNeueLTPro-Bd, "Helvetica Neue LT Pro", sans-serif;
}

body {
	font-family: HelveticaNeueLTPro-Lt, Arial, sans-serif;
	line-height: 1.4;
	font-weight: 300;
	margin: var(--bodyMargin);
	color: #333;
	hyphens: auto;
	max-width: 400px;
}

img {
	max-width: 400px;
	min-width: 100%;
}

.container {
	margin: 0.5rem;
	max-width: 500rem;
}

h1,
.h1 {
	font-family: HelveticaNeueLTPro-Lt, sans-serif;
	font-weight: 300; /* Light */
	font-size: 4.083rem; /* 49pt ≈ 4.083rem */
	line-height: 1.2; /* ZAB 49pt ≈ 4.083rem */
	margin-block-start: 1.335em;
	margin-block-end: 0.335em;
	overflow: hidden;
	word-wrap: break-word;
}

/* Class for H2 */
h2,
.h2 {
	font-family: HelveticaNeueLTPro-Lt, "Helvetica Neue LT Pro", sans-serif;
	font-weight: 300; /* Light */
	font-size: 1.5rem; /* 24pt ≈ 1.5rem */
	line-height: 2.833rem; /* ZAB 34pt ≈ 2.833rem */
	margin-block-start: 3rem;
	margin-block-end: 0;
}

.colored-headline h2 {
	font-family: HelveticaNeueLTPro-Lt, "Helvetica Neue LT Pro", sans-serif;
	font-weight: 300;
	font-size: 2rem;
	line-height: 1.5rem;
}

h3 {
	font-family: SoinSansPro-Headline;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 0.14em;
	font-size: 1rem;
}

/* Class for Subline */
.subline {
	font-family: SoinSansPro-Headline, "Soin Sans Pro", sans-serif;
	font-weight: 700; /* Headline */
	font-size: 1.667rem; /* 20pt ≈ 1.667rem */
	line-height: 1.833rem; /* ZAB 22pt ≈ 1.833rem */
}

/* Class for Copy */
.copy {
	font-family: HelveticaNeueLTPro-Lt, sans-serif;
	font-weight: 300; /* Light */
	font-size: 1.667rem; /* 20pt ≈ 1.667rem */
	line-height: 2rem; /* ZAB 24pt ≈ 2rem */
}

/* Class for Unknown */
.unknown {
	font-family: HelveticaNeueLTPro-Lt, sans-serif;
	font-weight: 300; /* Light */
	font-size: 1rem; /**/
	line-height: 1.267rem; /*  */
}

.unknown2 {
	font-family: HelveticaNeueLTPro-Lt, sans-serif;
	font-weight: 300; /* Light */
	font-size: 1.2rem; /**/
	line-height: 1.267rem; /*  */
}

.helvetica {
	font-family: "Helvetica Neue LT Pro", sans-serif;
	font-weight: 400;
}

.highlight {
	font-family: HelveticaNeueLTPro-Bd;
	/* old code
	font-family: HelveticaLTStd-Bold;
	font-weight: 700; */
}

.smallcapital {
	font-family: SoinSansPro-Headline;
	text-transform: uppercase;
	line-height: 1.6;
	letter-spacing: 0.14em;
	text-transform: uppercase;
	font-size: clamp(1rem, 0.7vw, 1.65rem);
}

.fat {
	font-family: HelveticaLTStd-Bold;
	font-weight: 700;
}

.navigation-wrapper {
	width: 100vw;
	margin-left: -24px;
	position: sticky;
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #f3f3f3;
	z-index: 10;
	max-width: 400px;
	height: 5rem;
	aling-items: center;
}

.right {
	margin-left: 4px;
}

.left {
	margin-right: 8px;
}

.navigation-wrapper a {
	display: flex;
	align-items: end;
	justify-content: center;
	margin: 0 0.5rem;
	padding: 1rem 1rem 2rem 1rem;
	font-family: SoinSansPro-Headline;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 0.14em;
	font-size: 1rem;
	text-decoration: none;
}

.navigation-btn:hover {
	text-decoration: underline;
}

.navigation-btn:visited {
	color: #111913 !important;
}

.navigation-wrapper img {
	width: 19px;
	min-width: 19px;
	max-width: 19px;
}

.bottom-image-container {
	width: 100vw;
	max-width: 400px;
	margin-top: 2rem;
	margin-left: -24px;
}

.bottom-link {
	justify-self: center;
	align-self: flex-start;
}

.textlink {
	font-family: SoinSansPro-Headline;
	text-transform: uppercase;
}

.textlink:hover {
	color: #1c966c;
}

.textlink:visited {
	color: #333333 !important;
}

/* Navigation Style */

#navigation {
	position: relative;
	z-index: 20;
}

#menuToggle {
	display: block;
	position: relative;
	top: 0.5rem;
	left: 0.5rem;

	z-index: 1;

	-webkit-user-select: none;
	user-select: none;
}

#menuToggle a {
	text-decoration: none;
	color: #232323;

	transition: color 0.3s ease;
}

#menuToggle a:hover {
	color: tomato;
}

#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	/* hide this */
	z-index: 2;
	/* and place it over the hamburger */
	-webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;

	background: #cdcdcd;
	border-radius: 3px;

	z-index: 1;

	transform-origin: 4px 0px;

	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
		background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
	position: absolute;
	width: 300px;
	margin: -100px 0 0 calc(var(--minusBodyMargin) + -8px);
	padding: 50px;
	padding-top: 125px;

	background: #ededed;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	/* to stop flickering of text in safari */

	transform-origin: 0% 0%;
	transform: translate(-100%, 0);

	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
	padding: 10px 0;
	font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
	transform: none;
}
