/* Class for H1 */

@media screen and (min-width: 600px) {
	:root {
		display: flex;
		justify-content: center;
	}
}

:root {
	font-size: 16px;
	width: 100%;
	height: 100%;
}

strong {
	font-family: HelveticaLTStd-Bold, "Helvetica Neue LT Pro", sans-serif;
}

body {
	font-family: HelveticaNeueLTPro-Lt, Arial, sans-serif;
	line-height: 1.4;
	font-weight: 300;
	margin: 24px;
	color: #333;
	hyphens: auto;
	max-width: 400px;
}

img {
	max-width: 400px;
	min-width: 100%;
}

.container {
	margin: 0.5rem;
	max-width: 500rem;
}

h1,
.h1 {
	font-family: HelveticaNeueLTPro-Lt, sans-serif;
	font-weight: 300; /* Light */
	font-size: 4.083rem; /* 49pt ≈ 4.083rem */
	line-height: 1.2; /* ZAB 49pt ≈ 4.083rem */
	margin-block-start: 1.335em;
	margin-block-end: 0.335em;
	overflow: hidden;
	word-wrap: break-word;
}

/* Class for H2 */
h2,
.h2 {
	font-family: HelveticaNeueLTPro-Lt, "Helvetica Neue LT Pro", sans-serif;
	font-weight: 300; /* Light */
	font-size: 1.5rem; /* 24pt ≈ 1.5rem */
	line-height: 2.833rem; /* ZAB 34pt ≈ 2.833rem */
	margin-block-start: 3rem;
	margin-block-end: 0;
}

.colored-headline h2 {
	font-family: HelveticaNeueLTPro-Lt, "Helvetica Neue LT Pro", sans-serif;
	font-weight: 300;
	font-size: 2rem;
	line-height: 1.5rem;
}

h3 {
	font-family: SoinSansPro-Headline;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 0.14em;
	font-size: 1rem;
}

/* Class for Subline */
.subline {
	font-family: SoinSansPro-Headline, "Soin Sans Pro", sans-serif;
	font-weight: 700; /* Headline */
	font-size: 1.667rem; /* 20pt ≈ 1.667rem */
	line-height: 1.833rem; /* ZAB 22pt ≈ 1.833rem */
}

/* Class for Copy */
.copy {
	font-family: HelveticaNeueLTPro-Lt, sans-serif;
	font-weight: 300; /* Light */
	font-size: 1.667rem; /* 20pt ≈ 1.667rem */
	line-height: 2rem; /* ZAB 24pt ≈ 2rem */
}

/* Class for Unknown */
.unknown {
	font-family: HelveticaNeueLTPro-Lt, sans-serif;
	font-weight: 300; /* Light */
	font-size: 1rem; /**/
	line-height: 1.267rem; /*  */
}

.unknown2 {
	font-family: HelveticaNeueLTPro-Lt, sans-serif;
	font-weight: 300; /* Light */
	font-size: 1.2rem; /**/
	line-height: 1.267rem; /*  */
}

.helvetica {
	font-family: "Helvetica Neue LT Pro", sans-serif;
	font-weight: 400;
}

.highlight {
	font-family: HelveticaLTStd-Bold;
	font-weight: 700;
}

.smallcapital {
	font-family: SoinSansPro-Headline;
	text-transform: uppercase;
	line-height: 1.6;
	letter-spacing: 0.14em;
	text-transform: uppercase;
	font-size: clamp(1rem, 0.7vw, 1.65rem);
}

.fat {
	font-family: HelveticaLTStd-Bold;
	font-weight: 700;
}

.navigation-wrapper {
	width: 100vw;
	margin-left: -24px;
	position: sticky;
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #f3f3f3;
	padding: 2rem 0;
	z-index: 10;
	max-width: 400px;
}

.right::after {
	display: block;
	content: "";
	background: url('./icons/icon_10_right_carrat.svg');
}

.left::before {
	display: block;
	content: "";
	background: url('./icons/icon_10_left_carrat.svg');
}

.navigation-wrapper a {
	display: flex;
	align-items: flex-start;
	margin: 0 0.5rem;
	padding: 0 1rem;
	font-family: SoinSansPro-Headline;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 0.14em;
	font-size: 1rem;
	text-decoration: none;
}

.navigation-btn:hover {
	text-decoration: underline;
}

.navigation-btn:visited {
	color: #111913 !important;
}

.navigation-wrapper img {
	width: 20px;
	min-width: 20px;
	max-width: 20px;
}

.bottom-image-container {
	margin-top: 2rem;
	margin-left: -20px;
}

.bottom-link {
	justify-self: center;
	align-self: flex-start;
}

.textlink {
	font-family: SoinSansPro-Headline;
	text-transform: uppercase;
}

.textlink:hover {
	color: #1c966c;
}
