@font-face {
	font-family: HelveticaNeueLTPro-UltLtIt;
	src: url("./helvetica/HelveticaNeueLTPro-UltLtIt.otf");
}

@font-face {
	font-family: HelveticaNeueLTPro-Bd;
	src: url("./helvetica/HelveticaNeueLTPro-Bd.otf");
}

@font-face {
	font-family: HelveticaNeueLTPro-BdIt;
	src: url("./helvetica/HelveticaNeueLTPro-BdIt.otf");
}

@font-face {
	font-family: HelveticaNeueLTPro-Blk;
	src: url("./helvetica/HelveticaNeueLTPro-Blk.otf");
}

@font-face {
	font-family: HelveticaNeueLTPro-BlkIt;
	src: url("./helvetica/HelveticaNeueLTPro-BlkIt.otf");
}

@font-face {
	font-family: HelveticaNeueLTPro-Hv;
	src: url("./helvetica/HelveticaNeueLTPro-Hv.otf");
}

@font-face {
	font-family: HelveticaNeueLTPro-HvIt;
	src: url("./helvetica/HelveticaNeueLTPro-HvIt.otf");
}

@font-face {
	font-family: HelveticaNeueLTPro-It;
	src: url("./helvetica/HelveticaNeueLTPro-It.otf");
}

@font-face {
	font-family: HelveticaNeueLTPro-Lt;
	src: url("./helvetica/HelveticaNeueLTPro-Lt.otf");
}

@font-face {
	font-family: HelveticaNeueLTPro-LtIt;
	src: url("./helvetica/HelveticaNeueLTPro-LtIt.otf");
}

@font-face {
	font-family: HelveticaNeueLTPro-Md;
	src: url("./helvetica/HelveticaNeueLTPro-Md.otf");
}

@font-face {
	font-family: HelveticaNeueLTPro-MdIt;
	src: url("./helvetica/HelveticaNeueLTPro-MdIt.otf");
}

@font-face {
	font-family: HelveticaNeueLTPro-Roman;
	src: url("./helvetica/HelveticaNeueLTPro-Roman.otf");
}

@font-face {
	font-family: HelveticaNeueLTPro-Th;
	src: url("./helvetica/HelveticaNeueLTPro-Th.otf");
}

@font-face {
	font-family: HelveticaNeueLTPro-ThIt;
	src: url("./helvetica/HelveticaNeueLTPro-ThIt.otf");
}

@font-face {
	font-family: HelveticaNeueLTPro-UltLt;
	src: url("./helvetica/HelveticaNeueLTPro-UltLt.otf");
}

@font-face {
	font-family: HelveticaLTStd-Blk;
	src: url("./helvetica/HelveticaLTStd-Blk.otf");
}

@font-face {
	font-family: HelveticaLTStd-BlkCond;
	src: url("./helvetica/HelveticaLTStd-BlkCond.otf");
}

@font-face {
	font-family: HelveticaLTStd-BlkCondObl;
	src: url("./helvetica/HelveticaLTStd-BlkCondObl.otf");
}

@font-face {
	font-family: HelveticaLTStd-BlkObl;
	src: url("./helvetica/HelveticaLTStd-BlkObl.otf");
}

@font-face {
	font-family: HelveticaLTStd-Bold;
	src: url("./helvetica/HelveticaLTStd-Bold.otf");
}

@font-face {
	font-family: HelveticaLTStd-BoldCond;
	src: url("./helvetica/HelveticaLTStd-BoldCond.otf");
}

@font-face {
	font-family: HelveticaLTStd-BoldCondObl;
	src: url("./helvetica/HelveticaLTStd-BoldCondObl.otf");
}

@font-face {
	font-family: HelveticaLTStd-BoldObl;
	src: url("./helvetica/HelveticaLTStd-BoldObl.otf");
}

@font-face {
	font-family: HelveticaLTStd-Comp;
	src: url("./helvetica/HelveticaLTStd-Comp.otf");
}

@font-face {
	font-family: HelveticaLTStd-Cond;
	src: url("./helvetica/HelveticaLTStd-Cond.otf");
}

@font-face {
	font-family: HelveticaLTStd-CondObl;
	src: url("./helvetica/HelveticaLTStd-CondObl.otf");
}

@font-face {
	font-family: HelveticaLTStd-ExtraComp;
	src: url("./helvetica/HelveticaLTStd-ExtraComp.otf");
}

@font-face {
	font-family: HelveticaLTStd-Light;
	src: url("./helvetica/HelveticaLTStd-Light.otf");
}

@font-face {
	font-family: HelveticaLTStd-LightCond;
	src: url("./helvetica/HelveticaLTStd-LightCond.otf");
}

@font-face {
	font-family: HelveticaLTStd-LightCondObl;
	src: url("./helvetica/HelveticaLTStd-LightCondObl.otf");
}

@font-face {
	font-family: HelveticaLTStd-LightObl;
	src: url("./helvetica/HelveticaLTStd-LightObl.otf");
}

@font-face {
	font-family: HelveticaLTStd-Obl;
	src: url("./helvetica/HelveticaLTStd-Obl.otf");
}

@font-face {
	font-family: HelveticaLTStd-Roman;
	src: url("./helvetica/HelveticaLTStd-Roman.otf");
}

@font-face {
	font-family: HelveticaLTStd-UltraComp;
	src: url("./helvetica/HelveticaLTStd-UltraComp.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-Bd;
	src: url("./helvetica/HelveticaNeueLTStd-Bd.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-BdCn;
	src: url("./helvetica/HelveticaNeueLTStd-BdCn.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-BdCnO;
	src: url("./helvetica/HelveticaNeueLTStd-BdCnO.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-BdEx;
	src: url("./helvetica/HelveticaNeueLTStd-BdEx.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-BdExO;
	src: url("./helvetica/HelveticaNeueLTStd-BdExO.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-BdIt;
	src: url("./helvetica/HelveticaNeueLTStd-BdIt.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-BdOu;
	src: url("./helvetica/HelveticaNeueLTStd-BdOu.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-Blk;
	src: url("./helvetica/HelveticaNeueLTStd-Blk.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-BlkCn;
	src: url("./helvetica/HelveticaNeueLTStd-BlkCn.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-BlkCnO;
	src: url("./helvetica/HelveticaNeueLTStd-BlkCnO.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-BlkEx;
	src: url("./helvetica/HelveticaNeueLTStd-BlkEx.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-BlkExO;
	src: url("./helvetica/HelveticaNeueLTStd-BlkExO.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-BlkIt;
	src: url("./helvetica/HelveticaNeueLTStd-BlkIt.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-Cn;
	src: url("./helvetica/HelveticaNeueLTStd-Cn.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-CnO;
	src: url("./helvetica/HelveticaNeueLTStd-CnO.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-Ex;
	src: url("./helvetica/HelveticaNeueLTStd-Ex.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-ExO;
	src: url("./helvetica/HelveticaNeueLTStd-ExO.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-Hv;
	src: url("./helvetica/HelveticaNeueLTStd-Hv.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-HvCn;
	src: url("./helvetica/HelveticaNeueLTStd-HvCn.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-HvCnO;
	src: url("./helvetica/HelveticaNeueLTStd-HvCnO.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-HvEx;
	src: url("./helvetica/HelveticaNeueLTStd-HvEx.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-HvExO;
	src: url("./helvetica/HelveticaNeueLTStd-HvExO.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-HvIt;
	src: url("./helvetica/HelveticaNeueLTStd-HvIt.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-It;
	src: url("./helvetica/HelveticaNeueLTStd-It.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-Lt;
	src: url("./helvetica/HelveticaNeueLTStd-Lt.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-LtCn;
	src: url("./helvetica/HelveticaNeueLTStd-LtCn.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-LtCnO;
	src: url("./helvetica/HelveticaNeueLTStd-LtCnO.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-LtEx;
	src: url("./helvetica/HelveticaNeueLTStd-LtEx.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-LtExO;
	src: url("./helvetica/HelveticaNeueLTStd-LtExO.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-LtIt;
	src: url("./helvetica/HelveticaNeueLTStd-LtIt.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-Md;
	src: url("./helvetica/HelveticaNeueLTStd-Md.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-MdCn;
	src: url("./helvetica/HelveticaNeueLTStd-MdCn.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-MdCnO;
	src: url("./helvetica/HelveticaNeueLTStd-MdCnO.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-MdEx;
	src: url("./helvetica/HelveticaNeueLTStd-MdEx.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-MdExO;
	src: url("./helvetica/HelveticaNeueLTStd-MdExO.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-MdIt;
	src: url("./helvetica/HelveticaNeueLTStd-MdIt.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-Roman;
	src: url("./helvetica/HelveticaNeueLTStd-Roman.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-Th;
	src: url("./helvetica/HelveticaNeueLTStd-Th.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-ThCn;
	src: url("./helvetica/HelveticaNeueLTStd-ThCn.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-ThCnO;
	src: url("./helvetica/HelveticaNeueLTStd-ThCnO.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-ThEx;
	src: url("./helvetica/HelveticaNeueLTStd-ThEx.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-ThExO;
	src: url("./helvetica/HelveticaNeueLTStd-ThExO.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-ThIt;
	src: url("./helvetica/HelveticaNeueLTStd-ThIt.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-UltLt;
	src: url("./helvetica/HelveticaNeueLTStd-UltLt.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-UltLtCn;
	src: url("./helvetica/HelveticaNeueLTStd-UltLtCn.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-UltLtCnO;
	src: url("./helvetica/HelveticaNeueLTStd-UltLtCnO.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-UltLtEx;
	src: url("./helvetica/HelveticaNeueLTStd-UltLtEx.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-UltLtExO;
	src: url("./helvetica/HelveticaNeueLTStd-UltLtExO.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-UltLtIt;
	src: url("./helvetica/HelveticaNeueLTStd-UltLtIt.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-XBlkCn;
	src: url("./helvetica/HelveticaNeueLTStd-XBlkCn.otf");
}

@font-face {
	font-family: HelveticaNeueLTStd-XBlkCn;
	src: url("./helvetica/HelveticaNeueLTStd-XBlkCnO.otf");
}

@font-face {
	font-family: SoinSansPro-Bold;
	src: url("./soin-sans/SoinSansPro-Bold.otf");
}

@font-face {
	font-family: SoinSansPro-BoldOblique;
	src: url("./soin-sans/SoinSansPro-BoldOblique.otf");
}

@font-face {
	font-family: SoinSansPro-Headline;
	src: url("./soin-sans/SoinSansPro-Headline.otf");
}

@font-face {
	font-family: SoinSansPro-Light;
	src: url("./soin-sans/SoinSansPro-Light.otf");
}

@font-face {
	font-family: SoinSansPro-LightOblique;
	src: url("./soin-sans/SoinSansPro-LightOblique.otf");
}

@font-face {
	font-family: SoinSansPro-Medium;
	src: url("./soin-sans/SoinSansPro-Medium.otf");
}

@font-face {
	font-family: SoinSansPro-MediumOblique;
	src: url("./soin-sans/SoinSansPro-MediumOblique.otf");
}

@font-face {
	font-family: SoinSansPro-Oblique;
	src: url("./soin-sans/SoinSansPro-Oblique.otf");
}

@font-face {
	font-family: SoinSansPro-Roman;
	src: url("./soin-sans/SoinSansPro-Roman.otf");
}

@font-face {
	font-family: SoinSansPro-Thin;
	src: url("./soin-sans/SoinSansPro-Thin.otf");
}

@font-face {
	font-family: SoinSansPro-ThinObliq;
	src: url("./soin-sans/SoinSansPro-ThinOblique.otf");
}
